@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<h2 style="color:purple" align="center">THE BOOK MARKET</h2>
<div class="container">
    <video controls>
        <source src="~/Images/VIDEO2.mp4" type="video/mp4" />
    </video>
</div>