@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@Html.BeginForm("About","Home",FormMethod.Post)
{
<div class="img-sec">
    @*<img src="images/logo.jpg" alt="about">*@
    <p>
        The Book Market is a trading enterprise that buys new and second-hand textbooks from past and present pupils in and around the University of Pretoria.
        They have recently began selling stationery items as well as stationery elements
        such as financial calculators for financial students and engineering instruments such as protractors for engineering students.
    </p>
    <p>
        A big benefit of this backward integration means that they can potentially source an entire student stationery and textbook simultaneously.
        Whereas her competitors in and around Hatfield, Pretoria offer either one of the service and not both. As such a competitive advantage is reached.
    </p>
</div>
<p>
    The organizational structure is composed of her the owner herself as the general manager and CEO of the enterprise along with her two assistants who are her sisters.
    Both assistants being younger than her, as such a high level of respect and trust between co-workers is obtained a lot quicker.
</p>
<p>The area in which the shop is situated is a busy and easily accessible student region located right in front and next to University erected residences. </p>

}