
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:rebeccapurple">Get in touch</h2>
<div class="container-fluid">
    <h3>Physical Address</h3>
    <h6>
        1069 Prospect Street
        Hatfield, Pretoria
    </h6>

    <h3>Contacts</h3>
    <p><img src="~/Images/phone.png" width="15" /> 076 657 6806</p> 
    <p><img src="~/Images/email.png" width="15" />bookmarket01@gmail.com</p>



</div>

