
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-image:url(Images/bm.jpg)">
    <h2 style="color:mediumpurple">FAQs</h2>

   <p><b>1. How do I make a book request?</b></p>
   <p>Ans: Click on the "Book Request" nav bar, enter your details and just click the submit button. It is that easy</p>
   <p><b>2.Adding to cart</b></p>
   <p>Ans. On the product item there is a little cart icon, you click on it and it automatically adds to the cart. On the cart the number indicated in the brackets shows how many items you have added to the cart</p>
   <p><b>3. How to checkout</b></p>
   <p>Ans. After you added items to the click, simply click on the checkout button that is in the cart.Once you click it, it will take you to another page where you will be able to increase or decrease the quantity</p> 
   <p></p>


</div>