@model OnlineShoppingStore.Models.Home.HomeIndexVM
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:420px;width:100%" src="../Images/store.jpg" alt="First slide">
            <div class="carousel-caption">
                
              
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:420px;width:100%" src="../Images/sell.jpg" alt="Second slide">
            <div class="carousel-caption">
                
              
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:420px;width:100%" src="../Images/sell2.jpg" alt="Third slide">
            <div class="carousel-caption">
                
                
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>
   
</div>
<div class="olContent f1"><h2 style="color:black">Search Product/Category</h2></div>
<form method="post">
    <div class="olSearch fr">
        <input type="text" name="search" placeholder="Enter Keyword"  class="inputComn houseText form-control" />
        <div class="searchIcon">
            <button type="button" class="searchBtn">
                <img src="~/Images/searchIcon.png" />
            </button>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Best Sellers<</h2>
        </div> 
    </div>
</div>

<div class="row product-container">
    @foreach (var item in Model.ListOfProducts)
    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
            <div class="thumbnail product-item" style="height:300px">

                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/ProductImg/@item.ProductImage" />

                <div class="caption">
                    <h5>@item.Inventory_Name</h5>
                    <p>@item.Inventory_Description</p>
                    <p>@item.Inventory_Price</p>
                    <p>
                        @if (item.Inventory_Quantity > 0)
                        {
                            using (Html.BeginForm("AddToCart", "Home",  new { productId = item.Inventory_ID },FormMethod.Post))
                            {
                                <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>
                            }
                            <h6>Available</h6>
                        }
                        else
                        {
                            <h6>Not Available</h6>
                        }
                    </p>

                    @*<div class="product-item-badge">New</div>*@
                </div>
            </div>
        </div>
    }
    
</div>
<div class="container">
    @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }))
</div>