
@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:purple">Location</h2>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="address">
                <h4 style="color:mediumpurple">Our Address</h4>
                <h5>
                    The Book Market, 1069 Prospect Street, Akademia
                    Shop 6, Hatfield, Pretoria
                </h5>
                
            </div>
            <p class="col-sm-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7187.119784486361!2d28.23448!3d-25.752064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9561beaa6abc89%3A0x1b8b2f1355ecb9f3!2s1069%20Prospect%20St%2C%20Hatfield%2C%20Pretoria%2C%200028!5e0!3m2!1sen!2sza!4v1566770917429!5m2!1sen!2sza" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" class="center"></iframe>
            </p>
            
        </div>
    </div>
</div>



